NODE_ENV=development
API_PORT=3000
LOG_LEVEL=debug

# Database
DB_USER=
DB_PASSWORD=
DB_NAME=

# CORS
CORS_ORIGIN=*

# Redis
REDIS_URL=url

# Rate Limiting
RATE_LIMIT_WINDOW_MS=limit_in_ms
RATE_LIMIT_MAX=max_requests_per_window